{
	admin off
	auto_https off
	skip_install_trust

	servers {
		metrics
	}

	log {
		level {$LOG_LEVEL}
		format json {
			time_format "rfc3339_nano"
		}
	}
}

:8080 {
	log

	@calculator_pipeline {
		path /v1/calculator /v1/calculator/*
	}
	handle @calculator_pipeline {
		reverse_proxy http://calculator-pipeline-http-request-1:8080 http://calculator-pipeline-http-request-2:8080
	}

	@grafana {
		path /grafana /grafana/*
	}
	handle @grafana {
		reverse_proxy http://grafana:3000
	}

	# Uncomment when prometheus remote write is enabled:
	# @alloy {
	# 	path /alloy /alloy/*
	# }
	# handle @alloy {
	# 	reverse_proxy http://alloy:12345
	# }
}

:8081 {
	log

	@calculator_gateway {
		path /v1/calculator /v1/calculator/*
	}
	handle @calculator_gateway {
		reverse_proxy http://calculator-gateway-1:8080 http://calculator-gateway-2:8080
	}
}

:8082 {
	metrics
}
